h1 {
  text-align: center;
  border-width: 10px;
  border: black solid;
  /*background: #466368*/
  background: linear-gradient(to right bottom, #648880, #293f50);  
}
.under-header {
  text-align: center;
  font: 50px bold;
}

.title {
  border: black solid;
  width: 320px;
  float: left;
  margin: 20px;
  text-align: center;
} 
body {
  background: url("http://store.storeimages.cdn-apple.com/4662/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ma/imac/gallery1/imac-gallery1-2015_GEO_EMEA_LANG_DE?wid=2000&hei=1536&fmt=jpeg&qlt=95&op_sharpen=0&resMode=bicub&op_usm=0.5,0.5,0,0&iccEmbed=0&layer=comp&.v=1453527451539") no-repeat center;
  background-size: cover;
}
